.maps {
    display: flex;
    flex-direction: column;
    gap: 2rem;


    justify-content: center;
    align-items: center;
    width: auto;

}

.title-maps {
    color: white;
    font-size: 2.2em;
    text-align: center;
    
}

.container-maps {
    display: flex;
    align-items: center;
    gap: 3rem;
}



.box-maps-unidade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title-unidade {
    color: white;
    font-size: 1.5em;
}

.address-unidade {
    font-size: 1.1em;
    color: white;
    text-align: center;
}

iframe {
    width: 430px;
    height: 380px;
}

.line-horizontal {
    display: none;
}


@media(max-width:1700px) {

    .container-maps {
        gap: 2rem;
    }

    iframe {
        width: 400px;
        height: 350px;
    }

}

@media(max-width:1600px) {

    .maps {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    iframe {
        width: 300px;
        height: 320px;
    }


}

@media(max-width:864px) {

    .maps {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    iframe {
        width: 370px;
        height: 320px;
    }

    .container-maps {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .line-style-white {
        display: none;
    }

    .line-horizontal {
        display: flex;
        transform: scaleX(-1);
    }

}


@media(max-width:525px) {

    .maps {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .title-maps {
        color: white;
        font-size: 1.8em;
    }

    iframe {
        width: 100%;
        height: 250px;
    }


    .address-unidade {
        font-size: .9em;
    }

    .container-maps{
        gap: 2rem;
    }

}