footer {
    display: flex;
    flex-direction: column;

    background-color: #2C2C2C;

    width: 100%;
    height: auto;

    padding: 1rem 1rem;
   
    z-index: 100;
}

.container-top-footer {
    width: 100%;

    display: flex;
    align-items: center;
    border-bottom: solid 1px #959595;
    justify-content: space-between;

    padding: 1rem 0;
}

.container-left-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 25rem;
}

.left-box-footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-icons-footer {
    height: 2rem;
}

.left-text-footer {
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    color: white;
}

.loc-text-box-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-central-footer {
    display: flex;
    gap: 2rem;
    width: 20rem;
}

.central-icons-footer {
    height: 50px;
}

.logo-footer {
    height: 140px;
    cursor: pointer;
}

.container-bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 10px;
}

.text-bottom-footer {
    color: white;
    font-size: 1em;
    font-weight: 200;
}
.link-astral-tech{
    color: white;
    font-weight: bold;
}

@media(max-width:1444px) {

    .left-text-footer {
        font-size: .9em;
    }

    .text-bottom-footer {
        font-size: .8em;
    }
}

@media(max-width:1024px) {

    footer{
        padding: 1rem 0;
        padding-bottom: 3rem;
    }
    .container-top-footer, .container-bottom-footer  {
       flex-direction: column;
       gap: 3rem;
    }

    .container-left-footer {
        justify-content: flex-start;
        align-items: flex-start;
       padding:0 15px

    }


    .container-central-footer {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 2rem;

    }

   

   
   
}