.formulario {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 3rem 5rem;
}

.container-left-formulario {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    gap: 1.5rem;

    padding-left: 2rem;

}

.box-title-formulario {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    width: 100%;
    gap: 1rem;
}

.title-top-formulario {
    font-size: 1.1em;
    color: #707070;
}

.title-bottom-formulario {
    font-size: 2em;
}

.container-right-formulario {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.img-logo-formulario {
    width: 100%;
}


/* formulario */

.box-formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.box-input-label-formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.box-input-label-formulario label {
    color: var(--color-blue-one);
    font-weight: 500;
    font-size: 1em;
}

.box-input-label-formulario input {
    max-width: 22rem;
    min-height: 3rem;

    border: 2px solid #808080;
    border-radius: 100px;

    padding: 5px 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;

    font-size: .9em;
}

.box-input-label-formulario textarea {
    min-height: 10rem;
    width: 22rem;


    border: 2px solid #808080;
    border-radius: 10px;

    padding: 10px 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;

    resize: none;

    font-size: .9em;
    overflow-y: scroll;
}



textarea::-webkit-scrollbar-thumb {
    background: var(--color-blue-one);
    border-radius: 12px;

}

textarea::-webkit-scrollbar-track {

    border-radius: 12px;
}



.button-formulario-enviar {
    width: 22rem;

    padding: 1rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-blue-one);
    color: white;

    border: 2px solid transparent;

    font-size: 2em;
    font-weight: 600;

    border-radius: 30px;

    cursor: pointer;

    transition: .5s;
}



@media(min-width:768px){
    .button-formulario-enviar:hover {
        background-color: white;
        border: 2px solid var(--color-blue-one);
        color: var(--color-blue-one);
    }
}

@media(max-width:1444px) {
    .container-right-formulario {
        padding-right: 2rem;
    }
}

@media(max-width:1280px) {
    .formulario {
        flex-direction: column;
        gap: 1rem;
    }
    
    .container-right-formulario {
        padding-right: 0rem;
    }

    .container-left-formulario {
        padding-left: 0rem;
    }
}

@media(max-width:1024px) {
    

    .container-left-formulario {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .title-top-formulario {
        font-size: 1em;
    }

    .title-bottom-formulario {
        font-size: 1.8em;
    }

}

@media(max-width:600px) {
    .formulario {
        padding: 3rem 1rem;
    }

    .box-input-label-formulario input {
        max-width: 100%;
        min-height: 2.5rem;

        font-size: .8em;

    }

    .box-input-label-formulario textarea {
        width: 100%;
    }

    .button-formulario-enviar {
        padding: 10px;
        font-size: 1.3em;
        width: 100%;
    }

    .box-title-formulario {
        gap: .5rem;
    }

    .title-top-formulario {
        font-size: .9em;
    }

    .title-bottom-formulario {
        font-size: 1.6em;
        text-align: left;
    }
}